<template>
  <div class="home">
    <h1> Vimeo Demo App </h1>
    <input type="file" @change="previewFiles" style="margin-bottom:2%"> <br />
    <input type="text" placeholder="Title" v-model="title" style="margin:1%"> 
    <input type="text" placeholder="Description" v-model="desc"> <br />
    <button @click="uploadVideo">Submit</button>
    
  <!-- <vimeo-player style="margin-top : 4%" ref="player" :video-id="videoID"/> -->
  </div>
</template>

<script>
// @ is an alias to /src
 import axios from 'axios'
export default {
  name: 'Home',
  data (){
    return {
      name : null,
      title : null,
      desc : null,
      videoID : '403561801'
    }
  },
  methods: {
     previewFiles(event) {
       this.name = event.target.files[0]      
   },

    async uploadVideo() {
      let data = new FormData()
      data.append('file_name', this.name)
      data.append('file_title', this.title)
      data.append('file_desc', this.desc)
      
      let url = "http://localhost:3333/uploadvideo" 
      await axios.post(url, data, {
         headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
      .then(data => {
        console.log(data)
      })
     }
    },

 async mounted(){
     await axios.get("http://localhost:3333/allvideos") 
  }
  }
</script>
